a {
	text-decoration: none;
	color: black;
}

	a:hover {
		color: #3aceff;
	}

#img {
	text-align: center;
}

	#img img {
		width: 300px;
		border-radius: 300px; 
	}

#bio {
	margin: auto;
	text-align: center;
	width: 600px;
	font-family: 'Avenir', sans-serif;
}

#back {
	margin: auto;
	text-align: center;
	width: 200px;
	font-family: 'Avenir', sans-serif;
}