body {
	width: 600px;
	margin: auto;
	margin-bottom: 30px;
	font-family: 'Avenir', sans-serif;
}

h1, h3 {
	text-align: center;
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	color: #3aceff;
}

	a:hover {
		text-decoration: underline;
	}

/* Education Section */

.education p {
	margin: 0;
}

p#course_title {
	margin: 10px 0 0 0;
	font-weight: bold;
}

ul {
	margin: 0;
}

#github_link {
	margin: 0 0 0 20px;
}

/* Work Experience Section */

.job {
	width: 600px;
	margin: auto;
	margin-bottom: 30px;
	position: relative;
}

	.job_title {
		margin: 0;
		font-weight: bold;
	}

	.job_loc {
		margin: 0;
	}

	.job_date {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
	}

	.job_description {
		margin: 10px 0 0 0;
	}

/* Other Section */

.other p {
	margin: 0;
}

#skills_title {
	font-weight: bold;
}

#activities_title {
	font-weight: bold;
}

.other ul {
	margin: 0;
}

/* Back Section */

.back_button {
	position: fixed;
	top: 10px;
	left: 10px;
}

	.back_button p {
		margin: 0;
	}