---
layout: page
title: Projects
---

<link rel="stylesheet" href="/assets/css/projects.style.css">

{% include project.html 
    title       = "Analysis & Visualization" 
    description = "Various smaller data analysis and visualization projects" 
    img         = "/assets/img/projects/data-projects3.gif" 
    name1       = "Site" 
    link1       = "/projects/data"
%}

{% include project.html 
    title       = "ASL-LEX" 
    description = "American Sign Language data visualization and teaching tool"
    img         = "/assets/img/projects/asllex.png"
    name1       = "Site"
    link1       = "http://asl-lex.org/" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/ASL-LEX"
%}

{% include project.html 
    title       = "Adaptive Huffman Coding" 
    description = "A scrollytelling walkthrough of the FGK Adaptive Huffman Coding algorithm"
    img         = "/assets/img/projects/huffman.gif"
    name1       = "Site"
    link1       = "https://ben-tanen.github.io/AdaptiveHuffmanCoding" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/AdaptiveHuffmanCoding"
    name3       = "Blog"
    link3       = "/2017/06/01/huffman-coding.html"
%}

{% include project.html 
    title       = "Our Drunken World" 
    description = "A visualization of alcohol consumption around the world and through time"
    img         = "/assets/img/projects/drunken-world.png"
    name1       = "Site"
    link1       = "https://jadeyychan.github.io/DrunkenWorld/" 
    name2       = "Source"
    link2       = "https://github.com/jadeyychan/DrunkenWorld"
    name3       = "Blog"
    link3       = "/2016/12/21/drunken-world.html"
%}

{% include project.html 
    title       = "Ultimate Convex Hull" 
    description = "A visual tool to teach the Kirkpatrick-Seidel ultimate convex hull algorithm"
    img         = "/assets/img/projects/ultimate-ch.gif"
    name1       = "Site"
    link1       = "https://ben-tanen.github.io/UltimateConvexHull" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/UltimateConvexHull"
    name3       = "Blog"
    link3       = "/2017/01/02/ultimate-convex-hull.html"
%}


{% include project.html 
    title       = "Road to the NHL Playoffs" 
    description = "A probabilistic model to simulate the 2015 - 2016 NHL season"
    img         = "/assets/img/projects/nhl-projections.png"
    name1       = "Paper"
    link1       = "/projects/nhl-projections/files/NHL_Projections-Full_Report.pdf" 
%}


{% include project.html 
    title       = "RodRego" 
    description = "Web app version of a simple register machine simulator"
    img         = "/assets/img/projects/rodrego.png"
    name1       = "Site"
    link1       = "https://ben-tanen.github.io/RodRego" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/RodRego"
    name3       = "Blog"
    link3       = "/2015/03/31/rodrego.html"
%}

{% include project.html 
    title       = "Story Time with Papa T" 
    description = "Spinning a weekly show on WMFO, Tufts' Freeform Radio"
    img         = "/assets/img/projects/story-time.png"
    name1       = "Site"
    link1       = "/projects/music/story-time/" 
%}

{% include project.html 
    title       = "Spotify.js" 
    description = "Simple client-side JS wrapper for Spotify Web API"
    img         = "/assets/img/projects/spotify-js.png"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/Spotify.js" 
%}

{% include project.html 
    title       = "JumboAdvisor" 
    description = "Course advisement application for Tufts SIS (from Polyhack 2015)"
    img         = "/assets/img/projects/jumboadvisor.png"
    name1       = "Site"
    link1       = "https://ben-tanen.github.io/JumboAdvisor" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/JumboAdvisor"
    name3       = "Blog"
    link3       = "/2015/10/30/jumboadvisor.html"
%}

{% include project.html 
    title       = "Drum Tab Visualizer" 
    description = "A 'Rock Band'-style visualization for drum tab made in C++ / Python"
    img         = "/assets/img/projects/drumtab.gif"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/DrumTabVisualizer" 
%}

{% include project.html 
    title       = "Song Search" 
    description = "Large-scale lyrical search database in C++ (from COMP-15)"
    img         = "/assets/img/projects/songsearch.png"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/SongSearch" 
%}

{% include project.html 
    title       = "pyGames" 
    description = "ASCII versions of Minesweeper, Blackjack, and Battleship in Python"
    img         = "/assets/img/projects/pygames.png"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/PythonGames"
    name2       = "Blog"
    link2       = "/2015/07/01/retro-python-games.html"
%}

{% include project.html 
    title       = "SimFishy" 
    description = "Simple ASCII sprite simulator built in C++ (from COMP-11)"
    img         = "/assets/img/projects/simfishy.gif"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/SimFishy"
%}
