---
layout: page
title: Projects
---

<link rel="stylesheet" href="/assets/css/projects.style.css">

<!--
{% for project in site.projects %}
<div class='project-box'>
    <div class='project-img-box'>
        <img class='project-img' src='{{ project.img }}' />
    </div>
    <div class='project-content-box'>
        <h1><a href='{{ include.link1 }}'>{{ project.title }}</a></h1>
        <p>{{ project.content }}</p>
        <p class='project-links'>View: 
            <a href='{{ project.link1 }}'>{{ project.name1 }}</a>
            {% if project.link2 %}
            &middot;
            <a href='{{ project.link2 }}'>{{ project.name2 }}</a>
            {% endif %}
            {% if project.link3 %}
            &middot;
            <a href='{{ project.link3 }}'>{{ project.name3 }}</a>
            {% endif %}
        </p>
    </div>
</div>
{% endfor %}
-->

{% include project.html 
    title       = "ASL-LEX" 
    description = "A data-driven tool for American Sign Language students and educators"
    img         = "/assets/img/projects/asllex.png"
    name1       = "Site"
    link1       = "http://asl-lex.org/" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/asl-lex"
    name3       = "Vizzies Award"
    link3       = "https://www.popsci.com/vizzies-winners-2017#page-7"
%}

{% include project.html 
    title       = "Adaptive Huffman Coding" 
    description = "A scrollytelling walkthrough of the FGK Adaptive Huffman Coding algorithm"
    img         = "/assets/img/projects/huffman.gif"
    name1       = "Site"
    link1       = "http://link.ben-tanen.com/adaptive-huffman/" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/adaptive-huffman/"
    name3       = "Blog"
    link3       = "/blog/2017/06/01/huffman-coding.html"
%}

{% include project.html 
    title       = "Our Drunken World" 
    description = "A visualization of alcohol consumption around the world and through time"
    img         = "/assets/img/projects/drunken-world.png"
    name1       = "Site"
    link1       = "http://link.ben-tanen.com/drunken-world/" 
    name2       = "Source"
    link2       = "https://github.com/jadeyychan/DrunkenWorld"
    name3       = "Blog"
    link3       = "/blog/2016/12/21/drunken-world.html"
%}

{% include project.html 
    title       = "Ultimate Convex Hull" 
    description = "A visual tool to teach the Kirkpatrick-Seidel ultimate convex hull algorithm"
    img         = "/assets/img/projects/ultimate-ch.gif"
    name1       = "Site"
    link1       = "http://link.ben-tanen.com/ultimate-ch/" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/ultimate-convex-hull/"
    name3       = "Blog"
    link3       = "/blog/2017/01/02/ultimate-convex-hull.html"
%}

{% include project.html 
    title       = "Analysis & Visualization" 
    description = "Various smaller data analysis and visualization projects" 
    img         = "/assets/img/projects/data-projects3.gif" 
    name1       = "Site" 
    link1       = "/projects/data"
%}

{% include project.html 
    title       = "Optimizing Portfolio Risk" 
    description = "An attempt to optimize a financial portfolio's hedge ratio through risk"
    img         = "/assets/img/projects/portfolio-optimization.png"
    name1       = "Notebook"
    link1       = "/notebooks/optimizing-portfolio.html" 
%}

{% include project.html 
    title       = "Road to the NHL Playoffs" 
    description = "A probabilistic model to simulate and predict the 2015 - 2016 NHL season"
    img         = "/assets/img/projects/nhl-projections.png"
    name1       = "Paper"
    link1       = "/projects/nhl-projections/files/NHL_Projections-Full_Report.pdf" 
%}

{% include project.html 
    title       = "RodRego" 
    description = "A simple register machine simulator to illustrate computational potential"
    img         = "/assets/img/projects/rodrego.png"
    name1       = "Site"
    link1       = "http://link.ben-tanen.com/rodrego/" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/rodrego"
    name3       = "Blog"
    link3       = "/blog/2015/03/31/rodrego.html"
%}

{% include project.html 
    title       = "Spotify.js" 
    description = "A simple client-side JS wrapper for Spotify Web API"
    img         = "/assets/img/projects/spotify-js.png"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/Spotify.js" 
%}

{% include project.html 
    title       = "JumboAdvisor" 
    description = "Course advisement application for Tufts SIS (from Polyhack 2015)"
    img         = "/assets/img/projects/jumboadvisor.png"
    name1       = "Site"
    link1       = "https://ben-tanen.github.io/jumbo-advisor" 
    name2       = "Source"
    link2       = "https://github.com/ben-tanen/jumbo-advisor"
    name3       = "Blog"
    link3       = "/blog/2015/10/30/jumboadvisor.html"
%}

{% include project.html 
    title       = "Drum Tab Visualizer" 
    description = "A 'Rock Band'-style visualization for drum tab made in C++ / Python"
    img         = "/assets/img/projects/drumtab.gif"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/drumtab-visualizer" 
%}

{% include project.html 
    title       = "Song Search" 
    description = "A large-scale lyrical search database in C++ (from COMP-15)"
    img         = "/assets/img/projects/songsearch.png"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/song-search" 
%}

{% include project.html 
    title       = "pyGames" 
    description = "ASCII versions of Minesweeper, Blackjack, and Battleship in Python"
    img         = "/assets/img/projects/pygames.png"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/py-games"
    name2       = "Blog"
    link2       = "/blog/2015/07/01/retro-python-games.html"
%}

{% include project.html 
    title       = "SimFishy" 
    description = "A simple ASCII sprite simulator built in C++ (from COMP-11)"
    img         = "/assets/img/projects/simfishy.gif"
    name1       = "Source"
    link1       = "https://github.com/ben-tanen/sim-fishy"
%}
