#d3-ff-container, #d3-ff {
    width: 100%;
}

#d3-ff-container {
    margin-bottom: 15px;
}

.dot {
    fill: none;
    stroke-width: 1.5px;
    cursor: pointer;
}

.legend-text {
    font-size: 0.85em;
    display: none;
}

#fantasy-pros-text, #fifth-down-text, #mock-text, #consensus-text {
    text-anchor: middle;
}

#x-axis-text, #y-axis-text {
    font-size: 0.85em;
    text-anchor: middle;
}

#direction1-text, #direction2-text {
    font-size: 0.62em;
    text-anchor: middle;
    fill: #b3b3b3;
}

#d3-ff-buttons {
    max-width: 350px;
    width: 100%;
    margin: auto;
}

#d3-ff-buttons button {
    margin-bottom: 5px;
    max-width: 116.67px;
    height: 100%;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

button#fantasy-pros {
    background-color: #23ce6b;
}

button#fifth-down {
    background-color: #77bdee;
}

button#mock {
    background-color: #ff4cc8;
}

#d3-ff-buttons button.off {
    background-color: #dadada;
}

.footnote {
    color: #77bdee;
    cursor: pointer;
}

.footnote:hover {
    text-decoration: underline;
}

.jBox-Tooltip{
    font-family: 'Yantramanav', 'sans-serif';
    max-width: 300px;
}