.img-container-container {
    margin-bottom: 15px;
}

.img-container, .img-container-container {
    width: 100%;
    overflow-x: scroll;
    position: relative;
}

.img-list#stacked {
    width: 5980px;
    padding: 0;
}

.img-list#gif {
    width: 1200px;
    padding: 0;
}

.img-list li {
    list-style: none;
    display: inline;
}

.img-list li img {
    width: 225px;
    display: inline;
}

.scroll-hint {
    position: absolute;
    font-size: 13px;
    color: gray;
    bottom: 10px;
    right: 17px;
    padding: 0;
    margin: 0;
}

#close-ups-container {
    margin-bottom: 15px;
}

#close-ups-container .column:nth-of-type(1) {
    width: calc(80% - 15px);
}

#close-ups-container .column:nth-of-type(2) {
    width: calc(20% - 15px);
}

#font-list-container-container {
    width: 100%;
    position: relative;
}

#font-list-list-container {
    width: 100%;      
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
}

#font-list-list {
    width: 3150px;
    height: 75px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#font-list-list li {
    display: inline-block;
    border: 1px #77bdee solid;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    vertical-align: top;
    cursor: pointer;
}

#font-list-list li.selected {
    background-color: rgba(119, 189, 238, 0.2);
}

#font-list-list li img {
    margin: 0;
    cursor: pointer;
}

#font-list-container-container .scroll-hint {
    top: 55px;
}

#font-list-img-container {
    width: 100%;
    display: inline-block;
    background-color: black;
}

#font-list-img-container img {
    width: 100%;
    margin: 0;
}