<link rel="stylesheet" href="/css/currently.css">
<script src="/js/currently.js"></script>

<img id='currently_loading' src='/img/loading.gif' />

<div class='currently_container' style='margin-top: 5px;'>
    <div class='currently listening'>
        <div class='listening currently_img'>
        </div>

        <div class='currently_text'>
            <p>Listening To</p>
            <p>"<span id='listening_song'>Loading...</span>" by <span id='listening_artist'>Loading...</span></p>
        </div>
    </div>

    <div class='currently watching'>
        <div class='watching currently_img'>
        </div>

        <div class='currently_text'>
            <p>Watching</p>
            <p><span id='watching_title'>Loading...</span></p>
        </div>
    </div>

    <div class='currently reading'>
        <div class='reading currently_img'>
        </div>

        <div class='currently_text'>
            <p>Reading</p>
            <p>"<span id='reading_name'>Loading...</span>" by <span id='reading_author'>Loading...</span></p>
        </div>
    </div>
</div>