<style>
    .experience_position {
        width: 140px;
        text-align: center;
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
    }

    .experience_position img {
        width: 80px;
    }

    .experience_position p {
        margin-bottom: 0;
        text-align: center;
    }

    .experience_position p:nth-of-type(1) {
        color: #77bdee;
        vertical-align: text-bottom;
    }

    .experience_position p:nth-of-type(3) {
        font-size: 13px;
    }

</style>

<div class='experience_container'>
    <!--
    <div class='experience_position'>
        <img src='/img/experience/ag.png' />
        <p><a href='https://www.linkedin.com/pub/ben-tanen/8a/291/a98'>Analyst</a></p>
        <p>Analysis Group</p>
        <p>Aug 2017 - Present</p>
    </div>
    -->

    <div class='experience_position'>
        <img src='https://pbs.twimg.com/profile_images/64521509/tufts316_400x400.jpg' />
        <p><a href='https://www.linkedin.com/pub/ben-tanen/8a/291/a98'>Algorithms Teaching Assistant</a></p>
        <p>Tufts University</p>
        <p>Sep 2016 - Present</p>
    </div>

    <div class='experience_position'>
        <img src='https://pbs.twimg.com/profile_images/64521509/tufts316_400x400.jpg' />
        <p><a href='https://www.linkedin.com/pub/ben-tanen/8a/291/a98'>Academic Technology Fellow</a></p>
        <p>Tufts University</p>
        <p>Sep 2014 - Present</p>
    </div>

    <div class='experience_position'>
        <img src='/img/experience/ag.png' />
        <p><a href='https://www.linkedin.com/pub/ben-tanen/8a/291/a98'>Analyst Intern</a></p>
        <p>Analysis Group</p>
        <p>Jun 2016 - Aug 2016</p>
    </div>

    <div class='experience_position'>
        <img src='/img/experience/pega.png' />
        <p><a href='https://www.linkedin.com/pub/ben-tanen/8a/291/a98'>Software Engineering Intern</a></p>
        <p>Pegasystems</p>
        <p>Jun 2015 - Aug 2015</p>
    </div>

    <div class='experience_position'>
        <img src='/img/experience/k2.png' />
        <p><a href='https://www.linkedin.com/pub/ben-tanen/8a/291/a98'>Risk Management Intern</a></p>
        <p>K2 Advisors</p>
        <p>Jun 2014 - Aug 2014</p>
    </div>
</div>