<p class="fig-paragraph">
    <a class="fig-link" 
        {% if include.link %}href="{{include.link}}"
        {% elsif include.autolink %}href="{{include.src}}"
        {% endif %}
        target="_blank">
    <img src="{{include.src}}"  
        {% if include.alt %}alt="{{include.alt | escape}}"
        {% elsif include.caption %}alt="{{include.caption | escape}}"
        {% endif %}
        {% if include.width %}width="{{include.width}}"{% endif %}
        {% if include.style %}style="{{include.style}}"{% endif %}
    />
    </a>
</p>

{% if include.caption %}
<figcaption>
{{include.caption | markdownify | remove: '<p>' | remove: '</p>'}}
</figcaption>
{% endif %}


