<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="/assets/css/style.new.css">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700" rel="stylesheet">
    
    <!-- jquery and js files -->
    <script src="/assets/js/lib/jquery.min.js"></script>
    <script src="/assets/js/lib/d3.v4.min.js"></script>

    <title>{% if page.title %}{{ page.title }} | Ben Tanen{% else %}Ben Tanen{% endif %}</title>
</head>
