<head>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142877379-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-142877379-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/rss+xml" title="Ben Tanen RSS" href="/feed.xml">
    <link rel="icon" type="image/png" href="/assets/img/favicon.ico">

    {% if page.title %}
    <link rel="stylesheet" href="/assets/css/main.style.css">
    {% else %}
    <link rel="stylesheet" href="/assets/css/landing.style.css">
    {% endif %}

    {% if page.minimal %}
    <link rel="stylesheet" href="/assets/css/minimal.style.css">
    {% endif %}
    <link rel="stylesheet" href="/assets/css/jBox.css">

    <!-- jquery and js files -->
    <script type="text/javascript" src="/assets/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/d3.v4.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/topojson.v2.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/jBox.min.js"></script>
    <script type="text/javascript" src="/assets/js/lib/enter-view.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/run-heroku.js"></script>

    <!-- adobe typekit -->
    <script src="https://use.typekit.net/jru4jkm.js"></script>
    <script>
    try {
        Typekit.load({
            async: true,
            active: function() {
                $('#side h1').css('opacity', 1);
                setTimeout(function() { $('#landing-header h1 span:nth-of-type(1)').css('opacity', 1);
                }, 300); 
                setTimeout(function() { $('#landing-header h1 span:nth-of-type(2)').css('opacity', 1);
                }, 900);
            },
            inactive: function() {
                $('#side h1').css('opacity', 1);
                setTimeout(function() { $('#landing-header h1 span:nth-of-type(1)').css('opacity', 1);
                }, 300); 
                setTimeout(function() { $('#landing-header h1 span:nth-of-type(2)').css('opacity', 1);
                }, 900);
            }
        });
    } catch(e){}
    </script>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:400,500,700" rel="stylesheet"> 

    <title>{% if page.title %}{{ page.title }} | {% endif %}Ben Tanen</title>
</head>
