<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- jquery and js files -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>

    <title>{% if page.title %}{{ page.title }} | Ben Tanen{% else %}Ben Tanen{% endif %}</title>
</head>
