<div class='project-box'>
    <div class='project-img-box'>
        <img class='project-img' src='http://ben-tanen.github.io/img/posts/portfolio_bullet.png' />
    </div>
    <div class='project-content-box'>
        <h1>{{ include.title }}</h1>
        <p>{{ include.description }}</p>
        {% if include.title and include.github %}
        <p>yoooo</p>
        {% endif %}
        <p class='project-links'>View: 
            {% if include.github %}
            <a href='#'>j {% include.github %}</a>
            {% endif %}
            |
            <a href='https://github.com/ben-tanen/RodRego'>GitHub</a></p>
    </div>
</div>