<div class='project-box'>
    <div class='project-img-box'>
        <img class='project-img' src='{{ include.img }}' />
    </div>
    <div class='project-content-box'>
        <h1><a href='{{ include.link1 }}'>{{ include.title }}</a></h1>
        <p>{{ include.description }}</p>
        <p class='project-links'>View: 
            <a href='{{ include.link1 }}'>{{ include.name1 }}</a>
            {% if include.link2 %}
            &middot;
            <a href='{{ include.link2 }}'>{{ include.name2 }}</a>
            {% endif %}
            {% if include.link3 %}
            &middot;
            <a href='{{ include.link3 }}'>{{ include.name3 }}</a>
            {% endif %}
        </p>
    </div>
</div>