<div id='side'>
    <img id='face' src='/assets/img/me/face-f.png' alt='A picture of my head' />
    
    <h1 id="title-1">Howdy</h1>
    <h1 id="title-2">I'm Ben</h1>

    <div id='site-links'>
        <p><a href='/'>Home</a></p>
        <p><a href='/about/' {% if page.title == 'About' %}class="selected-link"{% endif %}>About</a></p>
        <p><a href='/projects/all/' {% if page.title == 'Projects' %}class="selected-link"{% endif %}>Projects</a></p>
    </div>

    {% include social.html %}
</div>