.feature {
    fill: black;
    stroke: lightgrey;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.mesh {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1px;
    stroke-linejoin: round;
}

.tail-path {
    stroke-width: 3;
    fill: none;
    opacity: 1;
}

#MLB {
    /* tableau colors */
    stroke: #729ece;
    fill:   #729ece;
}

#NBA {
    /* tableau colors */
    stroke: #ed665d;
    fill:   #ed665d;
}

#NFL {
    /* tableau colors */
    stroke: #ff9e4a;
    fill:   #ff9e4a;
}

#NHL {
    /* tableau colors */
    stroke: #98df8a;
    fill:   #98df8a;
}

.year-text {
    font-size: 2em;
    font-family: "Roboto Mono", sans-serif;
}

.legend-text {
    font-size: 0.8em;
    font-weight: 200;
    font-family: "Roboto Mono", sans-serif;
}