/***********************/
/*** general styling ***/
/***********************/

* {
    margin: 0;
    padding: 0;
    font-family: "Yantramanav", sans-serif;
}

a {
    text-decoration: none;
    color: #77bdee;
}

a:hover {
    text-decoration: underline;
}

/******************/
/*** d3 styling ***/
/******************/

#background {
    width: calc(100vw - 15px);
    height: calc(100vh - 15px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.edge {
    stroke: #999;
    stroke-width: 1;
    stroke-opacity: 0.5;
}

.node {
    fill: #999;
}

/********************/
/*** menu styling ***/
/********************/

#landing-menu {
    min-width: 40px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    z-index: 100;
    padding-bottom: 5px;
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 0 20px 20px rgba(255,255,255,0.9);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 0 20px 20px rgba(255,255,255,0.9);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 0 20px 20px rgba(255,255,255,0.9);
}

#landing-menu img {
    width: 40px;
    margin-top: 5px;
    margin-left: calc(100% - 40px - 10px);
    cursor: pointer;
}

#site-links {
    display: none;
    font-family: 'Yantramanav', sans-serif;
    padding: 0 5px;
    text-align: right;
    font-size: 18px;
}

#site-links a {
    text-decoration: none;
    margin: 2px 5px 0 0;
    color: black;
}

#site-links a:hover {
    color: #77bdee;
}

.selected-link {
    color: #77bdee !important;
}

/*************************/
/*** main text styling ***/
/*************************/

#landing-text {
    width: calc(100vw - 60px);
    max-width: calc(900px - 60px);

    position: relative;

    margin: auto;
    margin-top: 5vh;
    z-index: 10;

    padding: 25px 30px;

    background-color: rgba(255,255,255,0.6);
    -webkit-box-shadow: 0 0 20px 20px rgba(255,255,255,0.6);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 0 20px 20px rgba(255,255,255,0.6);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 0 20px 20px rgba(255,255,255,0.6);
}

#landing-header {
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
}

#face {
    width: 175px;
    display: inline-block;
    vertical-align: middle;
}

#landing-header h1 {
    width: 150px;
    height: 106px;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
}

#landing-header h1 span {
    opacity: 0;
    -webkit-transition: opacity 0.75s ease;
    -moz-transition: opacity 0.75s ease;
    -o-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
}

#landing-header h1 span:nth-of-type(2) {
    font-weight: 500;
    position: relative;
    top: -6px;
}

#landing-text p {
    margin-bottom: 18px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

/******************************/
/*** currently text styling ***/
/******************************/

#currently-text {
    opacity: 0;
    -webkit-transition: opacity 0.75s ease;
    -moz-transition: opacity 0.75s ease;
    -o-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
}

span.currently {
    font-weight: 600; 
}

/****************************/
/*** social links styling ***/
/****************************/

#social-links {
    height: 32px;
    display: inline-block;
    padding: 0 calc((100% - 179px) / 2);
    list-style: none;
}

.social-link {
    display: inline;
    vertical-align: top;
}

.social-link a, .social-link a:hover {
    width: 32px;
    height: 32px;
    vertical-align: top;
    text-decoration: none;
}

.social-link svg {
    width: 32px;
    height: 32px;
    fill: #999;
    stroke: #999;
}

.social-link svg:hover {
    fill: #77bdee;
    stroke: #77bdee;
}

/*********************/
/*** media queries ***/
/*********************/

@media (max-width: 450px) {
    #landing-header {
        width: 210px;
    }

    #face {
        width: 100px;
    }

    #landing-header h1 {
        width: 100px; 
        height: 78px; 
        font-size: 30px;
    }
    
    #landing-menu img {
        width: 25px;
        margin-left: calc(100% - 25px - 10px);
    }
}
