
.main p {
    text-align: left;
    max-width: 600px;
    margin-left: max((100% - 600px) / 2, 0px);
    line-height: 1.5;
}

.post-header h1, .post-header p {
    text-align: center;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4 {
    text-align: center;
}

.main ol, .main ul {
    max-width: 570px;
    margin-left: max((100% - 570px) / 2, 30px);
}

.main blockquote {
    max-width: 550px;
    margin-left: max((100% - 550px) / 2, 30px);
    padding: 0 15px 0 15px;
}

p.fig-paragraph {
    max-width: 100%;
    margin-left: 0;
}

p.section-break {
    text-align: center;
}

div.pagination p {
    margin-left: 0;
}