
.main p {
    text-align: left;
    max-width: 600px;
    margin-left: max((100% - 600px) / 2, 0px);
    line-height: 1.5;
}

.post-header h1, .post-header p {
    text-align: center;
}

p.fig-paragraph {
    max-width: 100%;
    margin-left: 0;
}

p.section-break {
    text-align: center;
}

div.pagination p {
    margin-left: 0;
}