---
layout: base.new
title: Blog
---

{% for post in paginator.posts %}
{% unless post.categories contains 'hidden' %}
<div class='post'>
    <h1>{{ post.title }}</h1>
    {{ post.content }}
</div>
{% endunless %}
{% endfor %}

<div class='pagination'>
{% if paginator.previous_page %}
    <p id='pagination_previous'><a href='{{ paginator.previous_page_path }}'>&#8592; Newer Posts</a></p>
{% endif %}

{% if paginator.next_page %}
    <p id='pagination_next'><a href='{{ paginator.next_page_path }}'>Older Posts &#8594;</a></p>
{% endif %}
</div>