---
layout: main
title: Blog
---

{% for post in paginator.posts %}
{% unless post.categories contains 'hidden' %}
<div class='post'>
    <header class="post-header">
	   <h1>{{ post.title }}</h1>
       <!--
       <p class="post-meta">{{ post.date | date: "%b %d %Y" }} <span class="post-tag">data</span><span class="post-tag">art</span><span class="post-tag">project</span></p>
       -->
    </header>

    <article class="post-content">
	   {{ post.content }}
    </article>
</div>
{% endunless %}
{% endfor %}

<div class='pagination'>
    {% if paginator.previous_page %}
    <p id='pagination-previous'><a href='{{ paginator.previous_page_path }}'>&#8592; Newer Posts</a></p>
    {% endif %}

    <p id="pagination-all"><a href="/blog/all/">View All Posts</a></p>

    {% if paginator.next_page %}
    <p id='pagination-next'><a href='{{ paginator.next_page_path }}'>Older Posts &#8594;</a></p>
    {% endif %}
</div>
