<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <svg id="background"></svg>

    <div id='landing-menu'>
        <img src="/assets/img/menu.png" alt="A menu for navigating the site" />
        <div id='site-links'>
            <p><a class="selected-link">Home</a></p>
            <p><a href='http://link.ben-tanen.com/resume/' target="_new">Resume</a></p>
            <p><a href='/projects/all/'>Projects</a></p>
        </div>
    </div>

    <div id='landing-text'>
        <div id='landing-header'>
            <img id="face" src="/assets/img/me/face-f.png" alt="A picture of my face." />
            <h1><span>Howdy</span><br /><span>I'm Ben</span></h1>
        </div>

        {{ content }}

        {% include social.html %}
    </div>

    <script src="/assets/js/landing.js">
    </script>
</body>
</html>
