---
layout: main
---
<div class="post">

    <header class="post-header">
        <h1>{{ page.title }}</h1>
        <p class="post-date">{{ page.date | date: "%b %d %Y" }}
    </header>

    <article class="post-content">
    {{ content }}
    </article>

    <div class='pagination'>
        {% if page.next.url %}
        <p id='pagination-previous'><a href='{{ page.next.url }}'>&#8592; Newer Post</a></p>
        {% endif %}

        <p id="pagination-all"><a href="/projects/all/">View All Posts</a></p>

        {% if page.previous.url %}
        <p id='pagination-next'><a href='{{ page.previous.url }}'>Older Post &#8594;</a></p>
        {% endif %}
    </div>

</div>

{% if page.new-post-style == true %}
<link rel="stylesheet" href="/assets/css/main.new.style.css">
{% endif %}